@import "../../styles/colours.scss";
@import "../../styles/fonts.scss";
@import "../../styles/screen.scss";

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .header-search {
    width: 100%;
  }
  .header-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header-container {
    text-align: center;
    display: flex;
  }
  .header-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-search-wrapper {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .account-username {
    text-align: left;
  }
  .account-signup {
    text-align: left;
  }
}

// Desk top small devices (small desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header-search {
    width: 100%;
    margin-right: 1%;
  }
}

// large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and(max-width:1439px) {
  .footer-top {
    background-color: $light-grey;
    height: 4em;
    text-align: center;
  }
  .footer-bottom {
    background-color: $light-amber;
    height: 2em;
    text-align: center;
  }
  .post-loading {
    justify-content: center;
  }
  .post-loading svg {
    justify-content: center;
    width: 100%;
  }

  .cart-icon:focus {
    outline: 0;
  }
  .social-media-icon {
    display: flex;
    justify-content: space-between;
    max-width: 5em;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
  .account-signup {
    text-align: center;
  }
  .account-btn {
    text-align: center;
  }
}
// Extra large devices (extra large desktops, 1200px and up)
@media (min-width: 1440px) {
  .footer-top {
    background-color: $light-grey;
    height: 4em;
    text-align: center;
  }
  .footer-bottom {
    background-color: $light-amber;
    height: 2em;
    text-align: center;
  }
  .post-loading {
    justify-content: center;
  }
  .post-loading svg {
    justify-content: center;
    width: 100%;
  }

  .cart-icon:focus {
    outline: 0;
  }
  .social-media-icon {
    display: flex;
    justify-content: space-between;
    max-width: 5em;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
  .account-signup {
    text-align: center;
  }
  .account-btn {
    text-align: center;
  }
}

.account {
  padding-top: 10px;
}
.header-logo {
  margin-right: 2%;
}
.account-username {
  font-size: 0.9em;
}
.account-signuplink {
  text-align: center;
  font-size: 0.8em;
}
.navbar .nav-pills > li > a {
  color: black;
}
// .navbar .nav-pills > li > a:hover {
//   border-bottom: 3px solid green;
// }
.header-nav a:hover {
  border-bottom: 3px solid green;
}

.header-nav .active {
  background-color: transparent;
  font-weight: bold;
}
// .navbar .nav-pills .active {
//   background-color: transparent;
//   font-weight: bold;
// }
