@import "../../styles/colours.scss";
@import "../../styles/fonts.scss";
@import "../../styles/screen.scss";

.footer-top {
  background-color: $light-grey;
  height: 4em;
  text-align: center;
}
.footer-bottom {
  background-color: $light-amber;
  height: 2em;
  text-align: center;
}
.post-loading {
  justify-content: center;
}
.post-loading svg {
  justify-content: center;
  width: 100%;
}

.cart-icon:focus {
  outline: 0;
}
.account {
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Desk top small devices (small desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and(max-width:1439px) {
  // .header-container {
  //   margin-top: 1%;
  //   height: 100px;
  //   background-color: $amber;
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  // }
  .social-media-icon {
    display: flex;
    justify-content: space-between;
    max-width: 5em;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
}
// Extra large devices (extra large desktops, 1200px and up)
@media (min-width: 1440px) {
}
.account {
  padding-top: 3px;
}
.header-logo {
  margin-right: 2%;
}
.account-username {
  font-size: 0.9em;
}
.account-signuplink {
  text-align: center;
  font-size: 0.8em;
}
.navbar .nav-pills > li > a {
  color: black;
}
.navbar .nav-pills > li > a:hover {
  border-bottom: 3px solid green;
}

.navbar .nav-pills .active {
  background-color: transparent;
  font-weight: bold;
}
