@import "../../styles/colours.scss";
@import "../../styles/fonts.scss";
@import "../../styles/screen.scss";

// Extra small devices (portrait phones, less than 576px)

//TODO mobile screen should be reflected
// @media (max-width: 375px) {
//   #chosen-product-wrapper {
//     width: 49%;
//     // display: flex;
//     margin-top: 20px;
//     background-color: yellow;
//   }

//   #chosen-product-image {
//     width: 0px;
//   }
//   #chosen-product-container {
//     width: 100%;
//   }

//   .chosen-product-card-content {
//     width: 35%;
//   }
//   .chosen-product-add-section {
//     width: 20%;
//     display: flex;
//   }
//   .chosen-product-quantity {
//     padding-top: 12%;
//   }
//   .chosen-product-price-delete-section {
//     display: flex;
//     margin-left: 10%;
//   }
//   .chosen-product-price {
//     padding-top: 2%;
//     margin-right: 5%;
//   }
//   #chosen-product-btn {
//     margin-left: 0%;
//   }
// }
@media (max-width: 575.98px) {
  .header-search {
    width: 100%;
  }
  .header-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header-container {
    text-align: center;
    display: flex;
  }
  .header-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-search-wrapper {
    width: 100%;
  }
  .brand-name-desktop {
    display: none;
  }
  .brand-name-mobile {
    padding-left: 3em;
  }
  .header-icons {
    padding: 0;
  }

  #chosen-product-wrapper {
    width: 99%;
    display: flex;
    margin-top: 20px;
  }

  #chosen-product-image {
    width: 151px;
  }
  #chosen-product-container {
    width: 100%;
  }

  .chosen-product-card-content {
    width: 35%;
  }
  .chosen-product-add-section {
    width: 20%;
    display: flex;
  }
  .chosen-product-quantity {
    padding-top: 12%;
  }
  .chosen-product-price-delete-section {
    display: flex;
    margin-left: 10%;
  }
  .chosen-product-price {
    padding-top: 2%;
    margin-right: 5%;
  }
  #chosen-product-btn {
    margin-left: 0%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .brand-name-desktop {
    display: none;
  }
  .brand-name-mobile {
    padding-left: 3em;
  }
  .header-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #chosen-product-wrapper {
    display: flex;
    margin-top: 20px;
    width: 100%;
  }

  #chosen-product-image {
    width: 151px;
  }
  #chosen-product-container {
    width: 100%;
  }
  .chosen-product-card-content {
    width: 40%;
  }
  .chosen-product-add-section {
    width: 20%;
    display: flex;
  }
  .chosen-product-quantity {
    padding-top: 10%;
  }
  .chosen-product-price-delete-section {
    display: flex;
    margin-left: 5%;
  }
  .chosen-product-price {
    padding-top: 2%;
    margin-right: 10%;
  }
  #chosen-product-btn {
    margin-left: 5%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .brand-name-mobile {
    display: none;
  }
  .account-username {
    text-align: left;
  }
  .account-signup {
    text-align: left;
  }
  .header-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #chosen-product-wrapper {
    width: 60%;
    display: flex;
    margin-top: 20px;
  }
  #chosen-product-image {
    width: 151px;
  }
  #chosen-product-wrapper {
    width: 90%;
    display: flex;
  }
  #chosen-product-container {
    width: 100%;
  }
  .chosen-product-card-content {
    width: 30%;
  }
  .chosen-product-add-section {
    width: 20%;
    display: flex;
  }
  .chosen-product-quantity {
    padding-top: 8%;
  }
  .chosen-product-price-delete-section {
    display: flex;
  }
  .chosen-product-price {
    padding-top: 2%;
    margin-right: 10%;
  }
  #chosen-product-btn {
    margin-left: 5%;
  }
}

// Desk top small devices (small desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.99px) {
  .brand-name-mobile {
    display: none;
  }
  .header-search {
    width: 100%;
    margin-right: 1%;
  }
  .header-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #chosen-product-wrapper {
    width: 60%;
    display: flex;
    margin-top: 20px;
  }
  #chosen-product-image {
    width: 151px;
  }
  #chosen-product-container {
    width: 100%;
  }
  .chosen-product-card-content {
    width: 40%;
  }
  .chosen-product-add-section {
    width: 20%;
    display: flex;
  }
  .chosen-product-quantity {
    padding-top: 8%;
  }
  .chosen-product-price-delete-section {
    display: flex;
  }
  .chosen-product-price {
    padding-top: 2%;
    margin-right: 15%;
  }
  #chosen-product-btn {
    margin-left: 5%;
  }
}

// large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and(max-width:1439px) {
  .brand-name-mobile {
    display: none;
  }

  .post-loading {
    justify-content: center;
  }
  .post-loading svg {
    justify-content: center;
    width: 100%;
  }

  .cart-icon:focus {
    outline: 0;
  }
  .social-media-icon {
    display: flex;
    justify-content: space-between;
    max-width: 5em;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
  .account-signup {
    text-align: center;
  }
  .account-btn {
    text-align: center;
  }
  .header-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #chosen-product-wrapper {
    width: 60%;
    display: flex;
    margin-top: 20px;
  }
  #chosen-product-image {
    width: 151px;
  }
  #chosen-product-container {
    width: 100%;
  }
  .chosen-product-card-content {
    width: 40%;
  }
  .chosen-product-add-section {
    width: 20%;
    display: flex;
  }
  .chosen-product-quantity {
    padding-top: 7%;
  }
  .chosen-product-price-delete-section {
    display: flex;
    margin-left: 5%;
  }
  .chosen-product-price {
    padding-top: 2%;
    margin-right: 10%;
  }
  #chosen-product-btn {
    margin-left: 5%;
  }
}
// Extra large devices (extra large desktops, 1200px and up)
@media (min-width: 1440px) {
  .brand-name-mobile {
    display: none;
  }

  .post-loading {
    justify-content: center;
  }
  .post-loading svg {
    justify-content: center;
    width: 100%;
  }
  .header-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-icon:focus {
    outline: 0;
  }
  .social-media-icon {
    display: flex;
    justify-content: space-between;
    max-width: 5em;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
  .account-signup {
    text-align: center;
  }
  .account-btn {
    text-align: center;
  }

  #chosen-product-wrapper {
    width: 60%;
    display: flex;
    margin-top: 20px;
  }
  #chosen-product-image {
    width: 151px;
  }
  #chosen-product-container {
    width: 100%;
  }
  .chosen-product-card-content {
    width: 50%;
  }
  .chosen-product-add-section {
    width: 20%;
    display: flex;
  }
  .chosen-product-quantity {
    padding-top: 4%;
  }
  .chosen-product-price-delete-section {
    display: flex;
  }
  .chosen-product-price {
    padding-top: 2%;
    margin-right: 10%;
  }
  #chosen-product-btn {
    margin-left: 5%;
  }
}

// ALL SCREENS
.header-logo {
  margin-right: 2%;
}
.account-username {
  font-size: 0.9em;
}
.account-signuplink {
  text-align: center;
  font-size: 0.8em;
}
.navbar .nav-pills > li > a {
  color: black;
}

.header-nav a:hover {
  border-bottom: 3px solid green;
}

.header-nav .active {
  background-color: transparent;
  font-weight: bold;
}

.nothing {
  text-align: center;
  padding-top: 10%;
  font-weight: bold;
}
