$white: #fff !default;
$grey: #455a64 !default;
$light-grey: #f5f5f5 !default;
$very-light-grey: #eceff1 !default;
$black: #212121 !default;

$red: #f44336 !default;
$red-delete:#d11a2a !default;

$purple: #7c4dff !default;
$amber: #ffa000 !default;
$light-amber: #ffe0b2 !default;
$orange: #ff5722 !default;
$green: #4caf50 !default;
